
   <div class="jumbotron">
        <h1> The Determinant of the matrix {{mat}}</h1>
   </div>
   <div class="jumbotron">

    <h2> is {{dets}}</h2>
   </div>

<div class="btn">
    <a href="/determinant">
            <h5>Reset Values</h5>
    </a>
</div>
