<div class="jumbotron">
    <h3> The Trace of the matrix [{{tra}}]</h3>
</div>
<div class="jumbotron">
    <h4> is {{trac}}</h4>
</div>
<div class="btn">
    <a href="/trac">
            <h5>Reset Values</h5>
    </a>
</div>